<section>


<p>Las raíces de este subgénero se encuentran en canciones de artistas como Arcángel, Ñengo Flow, Randy, De La Ghetto, Yaga & Mackie, Füete Billete entre otros, principalmente reguetoneros y cantantes de Puerto Rico pero sobre todo gracias a la influencia de figuras como Alex Kyza o Tali Goya quienes residían en Estados Unidos aportando estos sonidos al habla hispana. Randy y Arcángel se atribuyeron el haber comenzado a finales del año 2006 el movimiento del trap latino mediante canciones como Me Compre Un Full y El Pistolón, a pesar de que en 2007 no se hablaba aún de este subgénero, ya que no se tenía conocimiento del mismo y se lo relacionaba con un reguetón simple.5​ Posteriormente Arcángel, De La Ghetto y Ñengo Flow participarían en la consolidación del subgénero. En el mismo año: Daddy Yankee lanza un tema (Jefe) en el álbum El cartel: The Big Boss, aportándole a este nuevo movimiento.

   







</section>