<section>
        
    <div class="titulo2">
      
      <h2>
        artistas
      </h2>
    </div>
    
    <div class="artistas">
      
      <div class="hombre">
        <img src="./assets/img/AnuelAA.jpg" alt="">
        <h3>Anuel AA</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, nemo! Vel quisquam consectetur, possimus laborum reiciendis modi? Eius aperiam iusto assumenda, id sint ipsum debitis a exercitationem iste perferendis in?</p>
        
      </div>
      <div class="hombre">
        <img src="./assets/img/BryantMyers.jpg" alt="">
        <h3>Bryant Myers</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum cum dolor accusamus? Reprehenderit fuga iusto ipsum harum nemo vitae, nisi corporis illo repellendus, debitis saepe. Qui quam provident eos atque?</p>
        
      </div>
      <div class="hombre">
        <img src="./assets/img/MykeTowers.jpg" alt="">
        <h3>Myke Towers</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus magnam doloremque dolorem ad commodi voluptates, et perspiciatis autem accusantium sapiente officiis nesciunt quos dolorum aperiam molestiae laborum cum maxime provident!</p>
        
      </div>
      <div class="hombre">
        <img src="./assets/img/JhayCortes.jpg" alt="">
        <h3>Jhay Cortes</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro veniam aperiam ab quas. Aspernatur excepturi repudiandae, obcaecati odio id temporibus! Tenetur ab provident quis quos cupiditate eius laborum fugiat veniam!</p>
        
        
      </div>
      <div class="hombre">
        <img src="./assets/img/Almigthy.jpg" alt="">
        <h3>Almigthy</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ipsam dolor facilis aliquid officiis sapiente impedit repellat cupiditate natus voluptatum? Velit dolores labore ipsa quibusdam nostrum accusantium cum impedit amet!</p>
        
        
      </div>
      <div class="hombre">
      <img src="./assets/img/EladioCarrion.jpg" alt="">
      <h3>Eladio Carrion</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste suscipit dicta, iure consequatur aliquid neque, quo id deleniti omnis magnam veniam tempore sit porro aspernatur architecto, delectus quia. Consectetur, sed?</p>
      
    </div>
    <div class="hombre">
      <img src="./assets/img/MikyWoodz.jpg" alt="">
      <h3>Miky Woodz</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio cupiditate inventore dolorum amet consectetur rem recusandae beatae quos reprehenderit officia pariatur, atque, quidem aliquam ratione sapiente voluptatibus, totam facere soluta.</p>
      
    </div>
    <div class="hombre">
      <img src="./assets/img/yovnchimi.jpg" alt="">
      <h3>Yovnchimi</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis vitae eius suscipit impedit maiores sequi animi voluptas facere asperiores, repellendus dolore voluptatum itaque. Alias molestiae non quibusdam odio itaque omnis?</p>
      
    </div>
    
    
  </div>
  
</section>

